.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    gap: 100px;
}

.question {
    display: flex;
    align-items: center;
    gap: 10px;
}